html{
    display: flex;
    justify-content: center;
}
body{
    display:flex;
    margin:0;
    padding:0;
    padding-top: 10px;
    min-height: 100vh;
    background: #5F5F5F;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: inline-block;
    flex-wrap: wrap;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }
  #avatarcard{
      border-radius: 20%;
      max-width:150px;
      filter: drop-shadow(0px 10px 15px rgba(0,0,0,1));
    
  }

  #h3avatar{
    color: #ebaa14;
    font-family: Arial, Helvetica, sans-serif;
  }
  #bemvindo{
      color:white;
      font-size: 26px;
  }

  .topo{

  }
  
  /* contanier 1 */
  .container1{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 30px;
    
  }
  
  .container1 .card{
    position: relative;
  }
  
  .container1 .card .face{
    width:980px;
    height: 350px;
    transition:.4s;
    
  }
  
  .container1 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(0px);
    box-shadow:
        
    0 0 50px rgba(255, 255, 255, 0.767),
    -10px 0 50px #ffffffbb,
    10px 0 50px rgba(255, 255, 255, 0.726);

    border-radius: 10px;
  }

  
  .container1 .card .face.face1 .content{
    opacity: .8;
    transition:  0.5s;
    text-align: center;
    
     
    
    
   
  
  }
  
  .container1 .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container1 .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
     
  }
  
  .container1 .card .face.face1 .content h3{
    font-size: 35px;
   
    color: white;
    text-align: center;
    
  
  }
  
  .container1 .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container1 .card .face.face2{
     position: relative;
     background: rgb(241, 240, 240);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
     margin-top: 80px;
    box-sizing: border-box;
    box-shadow: 0 20px 80px rgba(0,0,0,1);
    transform: translateY(0px);
    border-radius: 10px;
  }
  
  .container1 .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container1 .card .face.face2 .content p, a{
    font-size: 18px;
    margin: 0 ;
    padding: 0;
    color:#333;
    letter-spacing: 1px;
    
  }
  
  .container1 .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
       /* Borda pontilhada para fire fox e chrome */
        border: 1px dashed #333;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 10px;
 
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    
    
  }
  
  .container1 .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    
  }
  

  footer {
      text-align: center;
      padding: 2rem 0 2rem;
      color: black;
      margin-top: 15px;
      opacity: 0.6;
  
  }
  footer #whatsapp {
      color: inherit;
  }
  footer #whatsapp:hover {
      color: #000000;
      font-size: 20px;
      font-style: bold;
      text-shadow: 3px 5px 2px rgba(0,0,0,.5);
  }

  /*      ------- contanier 2 ------------            */
  .container2{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    
  }
  
  .container2 .card{
    position: relative;
  }
  
  .container2 .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container2 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container2 .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px rgba(245, 245, 245, 0.486),
      inset 10px 0 80px #ED8904,
      inset -10px 0 80px #0ff,
 
      0 0 50px #fff,
      -10px 0 80px #ED8904,
      0px 0 80px #0ff;
     
  }
  
 